<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Any other head contents must come *after* below 3 meta tags -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Any other head contents must come *after* above 3 meta tags -->
</head>
<body>
    <div th:fragment="footer">
        &copy; 2016 Vizurd Inc.


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script th:src="@{js/jquery.min.js}"></script>
        <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>



    </div>
</body>
</html>